
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.disply-flex{
    display: flex;
}
/*dark02*/
.text-gray{
    color: #424242;
}|
/*dark03*/
.text-light-gray{
    color: #000;
}


/* shared styles */

/* navbar related styles */
.navbar{
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
   
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}